#cover {
    /*background-image: url("../img/groupe-cover.jpg");*/
    background-size: cover;
    height: 300px;
}
.img_box {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.img_box2 {
    width: 100%;
    padding-top: 64%;
    position: relative;
}
.img_self {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.nav-fill .nav-link{
    color: rgba(128, 128, 148, 0.8) !important;
    font-size: 1.4em !important;
}
.nav-fill .nav-link:hover{
    color: rgba(128, 128, 148, 0.5) !important;
    text-decoration: none;
}
.nav-fill .active{
    color: #0069bb !important;
}
.nav-fill .active:hover{
    color: #0069bb !important;
}
#class-nav .nav-item{
    border-left: 1px solid rgba(100, 100, 100, 0.2) !important;
    font-size: 0.7em;
}
#class-nav .active{
    background-color: #f8f9fa !important;
}